// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// RTL Bootstrap
@import "~rtl-bootstrap/scss/bootstrap";


body{
    font-family: "Vazir",tahoma,sans-serif;
    font-size: 14px;
}

// Enable Pointer Cursor For Buttons
button {
    cursor: pointer;
}
